.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 1200px) {
  .card-list {
    width: 90vw;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 920px) {
  .card-list {
    width: 95vw;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 610px) {
  .card-list {
    width: 75vw;
    grid-template-columns: 1fr;
  }
}
